@model WorkShop4.Models.Search
@{
    ViewBag.Title = "SearchBook";
}

<h2>SearchBook</h2>
@using (Html.BeginForm("SearchBook", "Main", FormMethod.Post, new { id = "Form1" }))
{
<div class="form-horizontal">

    <div class="form-group">
        @Html.LabelFor(model => model.BookName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(model => model.BookName, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookClassId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.BookClassId, (List<SelectListItem>)ViewBag.BookClassCodeData, "請選擇", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BookClassId)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookKeeper, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.BookKeeper, (List<SelectListItem>)ViewBag.BookKeeperCodeData, "請選擇", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BookKeeper)
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.BookStatus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.BookStatus, (List<SelectListItem>)ViewBag.BookStatusCodeData, "請選擇", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.BookStatus)
        </div>
    </div>


   
    <div class="form-group">
        <div class="col-md-2">
        </div>
        <div class="col-md-10">
            <input type="submit" value="查詢" class=" btn btn-primary"/>
            <input type="button" value=" 新增" class="btn btn-default" onclick="location.href='/Main/InsertBook'">
            <input type="button" value=" 清除" class="btn btn-default" onclick="location.href='/Main/SearchBook'">
        </div>
    </div>


    @if (ViewBag.SearchResult != null)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr id>
                    <th>圖書類別</th>
                    <th>書名</th>
                    <th>購書日期</th>
                    <th>借閱狀態</th>
                    <th>借閱人</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in (List<WorkShop4.Models.Books>)ViewBag.SearchResult)
                {
                    <tr id='@item.BookId'>
                        <td>@item.BookClass</td>
                        <td>@item.BookName</td>
                        <td>@item.BoughtDate</td>
                        <td>@item.BookStatus</td>
                        <td>@item.BookKeeper</td>
                        <td>
                            <form></form>
                          @using (Html.BeginForm("LendRecord", "Main", FormMethod.Post, new { id = "record" })) { 
                            <input class="hidBookName" type="hidden" id="BookId" name="BookId" value='@item.BookId' />
                            <button type="submit" class=" btn btn-default">借閱紀錄</button>
                            }
                        </td>
                       
                        <td>
                            <button class="btnDelete btn btn-danger" href="#" >刪除</button>
                            <input class="hidBookName" type="hidden" value='@item.BookId' />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".btnDelete").click(function (e) {
            e.preventDefault();
            var r = confirm("確定嗎??")
            var tr = $(this).closest('tr')
            if (r == true) {
                $.ajax({
                    type: "POST",
                    url: "/Main/DeleteBook",
                    data: "bookId=" + $(this).next().val(),
                    dataType: "json",
                    success: function (response) {
                        $(tr).remove();
                    }, error: function (error) {
                        alert("系統發生錯誤");
                    }
                });
            } else { }
            return false;
        });
    });
</script>
